@font-face{
  font-family: 'Inter';
  src:
    url('Inter/Inter.ttf') format('truetype'),
    url('Inter/Inter.woff') format('woff'),
    url('Inter/Inter.woff2') format('woff2');
  font-style: normal;
}