.cover{
  margin: 0 auto 92px;
  text-align: center;
  max-width: 1184px;
  min-height: 740px;
  display: flex;
}

@media screen and (max-width: 1024px){
  .cover{
    width: 100%;
    min-height: 640px;
  }
}

@media screen and (max-width: 768px){
  .cover{
    min-height: 480px;
    margin-bottom: 88px;
  }
}  

@media screen and (max-width: 320px){
  .cover{
    min-height: 200px;
    margin-bottom: 64px;
  }
}  